numpy==1.24.3
pandas==2.1.0
matplotlib==3.7.3
keras==2.13.1
scikit-learn==1.3.0
tensorflow==2.13.0
Pillow==10.0.0
opencv-python==4.8.0
tflite==2.10.0
scipy==1.11.2

# # Web framework (if applicable)
# flask==2.1.1

# # Database library (if applicable)
# sqlalchemy==1.4.25

# # Testing framework and tools (if applicable)
# pytest==6.2.5
# coverage==6.3.2
